{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col"></div>
    <div class="col-lg-3 col-s-10 mt-5">
        <div class="card">
            <div class="card-header"><span class="ml-3">Learn Quotations</span></div>
            <div class="card-body">
                <h2 class="card-title ml-3">Difficulty Level...</h2>
                            <div class="row justify-content-center">
                                <div class="col mt-5">
                                <a href="{{url_for('learn_quotations', difficulty='easy')}}"><button class="btn btn-success px-4 col-12">Easy</button></a>
                            </div>
                            <div class="col mt-5">
                                <a href="{{url_for('learn_quotations', difficulty='medium')}}"><button class="btn btn-warning px-3 col-12">Medium</button></a>
                            </div>
                            <div class="col mt-5">
                                <a href="{{url_for('learn_quotations', difficulty='hard')}}"><button class="btn btn-danger px-4 color-light col-12">Hard</button></a>
                            </div>
                        </div>

            </div>
        </div>
    </div>
    <div class="col"></div>
</div>
{% endblock %}